#!/usr/bin/make -f

override_dh_auto_install:
	mkdir -p $(CURDIR)/debian/scylla-antlr35/opt/scylladb/share/java
	cp $(CURDIR)/antlr-3.5.2-complete-no-st3.jar \
		$(CURDIR)/debian/scylla-antlr35/opt/scylladb/share/java

	mkdir -p $(CURDIR)/debian/scylla-antlr35/opt/scylladb/bin
	cp $(CURDIR)/antlr3 \
		$(CURDIR)/debian/scylla-antlr35/opt/scylladb/bin
%:
	dh $@
