#!/usr/bin/make -f

override_dh_auto_install:
	mkdir -p $(CURDIR)/debian/antlr3-c++-dev/opt/scylladb/include
	cp $(CURDIR)/runtime/Cpp/include/* \
		$(CURDIR)/debian/antlr3-c++-dev/opt/scylladb/include
%:
	dh $@
